*.elc
.cask
.org-id-locations
/.achievements
/.emacs.desktop
/.emacs.desktop.lock
/.mc-lists.el
/ac-comphist.dat
/bookmarks
/core/experimental.el
/core/local.el
/eln-cache/
/elpa
/elpher-bookmarks
/eshell/
/games/
/ido.last
/image-dired/
/logview-cache.extmap
/projectile-bookmarks.eld
/projectile.cache
/recentf
/request/
/tramp
/transient/
/url/
/var/
